@font-face {
  font-family: 'Vazir';
  src: url('../assets/fonts/Vazir.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Vazir';
  src: url('../assets/fonts/Vazir-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

#preloader {
  background: #ffffff url(../assets/images/preloader.svg) no-repeat center center;
  background-size: 30% ;
  height: 100vh;
  width: 100%;
  position:fixed ;
  top: 0;
  left: 0;
  z-index: 900;
  transition: opacity 0.5s ease, visibility 0.5s ease;

}
#preloader.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

}
