<main>
   <!-- Hero Section-->
     <section class="hero" data-hero>

       <div class="hero-bg hero-bg-1"></div>
        <div class="hero-bg hero-bg-2"></div>

         <div class="hero-overlay"></div>
          <div class="hero-content container">
             <h1 class="hero-title"> دنیا منتظر توست </h1>
             <p class="hero-subtitle"> سفر بعدی‌ات را همین حالا پیدا کن </p>
           </div> 
           
           <div class="hero-search container">
            <form class="hero-search-box" id="search-form">

              <div class="hero-field">
                <label for="origin-input"> مبدا</label>
                <input id="origin-input" name="origin" type="text" placeholder="مبدا">
              </div>

              <div class="hero-field">
                <label for="destination-input"> مقصد</label>
                <input id="destination-input" name="destination" type="text" placeholder="کجا می‌خوای بری؟">
              </div>
              
              <div class="hero-field">
                <label for="month-input"> تاریخ</label>
                <input id="month-input" name="month" type="text">

                
              </div>
              
              <button type="submit" class="search-btn btn"> جستجو</button>

              <div id="month-modal" class="month-modal">
                <button class="month-button" data-month="01"> فروردین</button>
                <button class="month-button" data-month="02"> اردیبهشت</button>
                <button class="month-button" data-month="03"> خرداد</button>
                <button class="month-button" data-month="04"> تیر</button>
                <button class="month-button" data-month="05"> مرداد</button>
                <button class="month-button" data-month="06"> شهریور</button>
                <button class="month-button" data-month="07"> مهر</button>
                <button class="month-button" data-month="08"> آبان</button>
                <button class="month-button" data-month="09"> آذر</button>
                <button class="month-button" data-month="10"> دی</button>
                <button class="month-button" data-month="11"> بهمن</button>
                <button class="month-button" data-month="12"> اسفند</button>
              </div>

          
            </form>
           </div>
           

      </section>



<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script src="./script/script.js"></script>